Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.2
Werkzeug==2.3.7
pytest==7.4.2
pytest-flask==1.2.0
selenium==4.15.2
google-auth==2.24.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.104.0
requests==2.31.0
cachecontrol==0.13.1
SQLAlchemy==2.0.21